<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <nav>
        <div class="logo">Nathan's Tracker</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/views/satellites.html">Satellites</a></li>
            <li><a href="#">Planets</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Subscribe</a></li>
        </ul>
    </nav>
    <div class="content">
        <div>Satellite - Planet Tracker Final Project</div>
        <div>By Nathan Naouri</div>
    </div>

</body>

</html>